
<form method="post" action="{{ path('Postadd_category') }}">


	<div>
		<label>name_categorie</label>
		<input type="text" name="cat_name" placeholder="Description">
	</div>


	<button type="submit" class="btn btn-info waves-effect w-md waves-light m-b-20">Add</button>
</form>
