<form method="post" action="{{ path('Postedit_category',{'id':id}) }}">


	<div>
		<label>name_categorie</label>
		<input type="text" name="cat_name" placeholder="Description" value="{{nom}}"> 
	</div>



<button type="submit" class="btn btn-info waves-effect w-md waves-light m-b-20">Modify</button>


</form>
