{% extends 'baseC.html.twig' %}

{% block title %}Ajouter produit
{% endblock %}

{% block body %}
	<style>
		#cont {
			width: 80%;
		}
	</style>
	<script>
		function allowDrop(ev) {
ev.preventDefault();
}

function drag(ev) {
ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
ev.preventDefault();
var data = ev.dataTransfer.getData("text");
ev.target.appendChild(document.getElementById(data));
}
	</script>

	<body>
		<br/>
		<div id="cont" class="card border-secondary container"><br>
			<div class="card-header">
				<h5>Produit</h5>
			</div>
			<div class="card-body">
				<form style="margin-top:-30px" method="post" action="{{ path('Postadd_prod') }}">
					<div class="row">
						<div class="col-8">
							<div class="form-group">
								<label for="id" class="form-label mt-4">Nom</label>
								<input type="text" name="sousCat_name" class="form-control" id="id" placeholder="Entrez le nom">
							</div>
							<div class="form-group">
								<label for="prix" class="form-label mt-4">Prix</label>
								<input type="number" name="prod_px" class="form-control" id="prix" placeholder="Entrez le prix">
							</div>
							<div class="form-group">
								<label for="remise" class="form-label mt-4">Remise</label>
								<input type="number" name="prod_remise" class="form-control" id="remise" placeholder="Entrez la remise">
							</div>
							<div class="form-group">
								<label for="cat" class="form-label mt-4">Sous Categorie</label>

								<select class="form-select" id="slc" name="lissouscat">
									{% for souscat in allsousCat %}

										<option value="{{souscat.idSouscat}}">{{souscat.nomSouscat}}</option>
									{% endfor %}

								</select>

							</div>
							<br/>
						</div>
						<label for="myfile">Image</label>
						<input type="file" id="myfile" name="myfile" onclick="drag()" >
					</div>
					<div style="text-align:center">
						<button type="submit" class="btn btn-secondary">Ajouter</button>
					</div>
				</form>
			</div>

		</body>



	{% endblock %}
