{% extends 'baseC.html.twig' %}


{% block body %}
	<head>
		{% block head %}
			<title>
				{% block title %}
					Cuisine
				{% endblock %}

			</title>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


		{% endblock %}
	</head>


	<div class="wrapper">
		{% for flashMessage in app.session.flashbag.get('noticebar') %}
			<div class="alert alert-info" role="noticebar" id="bar">

				{{ flashMessage }}


			</div>


		{% endfor %}
	</div>

	<div class="card border-primary mb-3" style="width:27rem;">
		<div class="card-header">Bar</div>
		<div class="card-body">

			<div class="cont">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Produit</th>
							<th scope="col">Qté</th>
						</tr>
					</thead>
					{% if prods|length > 0 %}
						{% for element in prods %}
							<tbody>
								<tr class="table-active">
									<th scope="row">{{ element.produit.nomProd }}</th>
									<td>{{ element.quantite }}</td>


								</tr>
							</tbody>
						{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>
	</div>

	<script>


		const alert = document.querySelectorAll("div.alert");
if (alert) {
alert.forEach(function (alertItem) {
alertItem.style.display = "block";
setTimeout(function () {
alertItem.style.display = "none";
}, 3500);
});

}
	</script>

{% endblock %}
