{% extends 'base.html.twig' %}

{% block title %}Employe
{% endblock %}

{% block body %}
	<div class="container" style="margin-top:25px">
	<h4 style="width:50%;margin:auto">Details caissier</h4>

		<table class="table" style="width:50%;margin:auto">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ employe.id }}</td>
				</tr>
				<tr>
					<th>Username</th>
					<td>{{ employe.username }}</td>
				</tr>
				<tr>
					<th>Roles</th>
                    {% for role in employe.roles  %}
							<td>
								{% if role == "ROLE_SERVEUR" %}

									serveur

								{% elseif role == "ROLE_CAISSIER" %}
									caissier
								{% else %}
									admin

								{% endif %}
							</td>
						{% endfor %}
				</tr>

			</tbody>
		</table>


		<a href="{{ path('employe_index') }}"  style="margin:auto;margin-left:25%" class="btn btn-outline-primary">back to list</a>

	</div>
{% endblock %}
